.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addPublicationButton {
    height: 50px;
}

.loaderContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: #fff;
    padding: 32px;
    border-radius: 16px;
    width: 320px;
    height: 270px;
  }
  
  .fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 16px;
  }
  
  .title {
    min-height: 60px;
  }
  
  .body {
    min-height: 100px;
  }
  
  .changePublicationButton {
    width: 100%;
  }
  
  .modalTitle {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.43;
    letter-spacing: 0.01071em;
  }